.regist {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    width: 500px;
    height: 550px;
    background-color: rgb(236, 223, 206);
    color: white;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);

}

.regist .formRegist h4 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
}

.regist .formRegist {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: antiquewhite;
    padding: 1rem;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    height: 550px;
}

.regist .formRegist .controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid rgb(236, 223, 206);
    margin-bottom: 20px;
}

.errorMsgNew {
    display: flex;
    visibility: hidden;
    font-size: 15px;
    color: red;
    margin: 0;
    padding: 0;
}

.errorVisibleNew {
    display: flex;
    visibility: visible;
    margin-top: -19px;
    margin-bottom: 0;
}

.regist .btnCreateRegist {
    color: black;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(236, 223, 206);
    border: none;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
    padding: 12px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.regist .btnCreateRegist:hover {
    background-color: rgb(233, 214, 189);
}

.regist .popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.regist .popUp {
    width: 300px;
    /* Ajusta el tamaño según necesites */
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: antiquewhite;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.regist .popUp button {
    color: black;
    width: 50%;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(236, 223, 206);
    border: none;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin: 16px 0;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.regist .popUp button:hover {
    background-color: rgb(233, 214, 189);
}

.regist .popUp p {
    font-size: 30px;
    font-weight: bold;
}

.regist .popUp::backdrop {
    background: rgba(0, 0, 0, 0.5);
    /* Oscurece el fondo */
}

@media (max-width: 500px) {
    .regist {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .regist {
        width: 250px;
    }
}

@media (max-width: 300px) {
    .regist {
        width: 200px;
    }
}