@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

body {
    background-color: #FFF;
    height: 100%;
    margin: 0px;
}

.rootSection {
    margin: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    position: sticky;
    background-color: #c2b5aa;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    min-height: 5vh;
    height: 120px;
    padding: 10px 2%;
    border-bottom: 2px solid #b8a99e;
    top: 0;
    z-index: 1000;
}

.header .logo {
    margin-right: auto;
    display: inline-flex;
    align-items: center;
}

.header .logo img {
    cursor: pointer;
    height: 100px;
    width: auto;
    transition: all 0.4s;
    object-fit: cover;
    border-radius: 60%;
}

.header .logo h1 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.header .logo img:hover {
    transform: scale(1.1);
}

.header .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header .nav-links li {
    padding: 0 20px;
    transition: all 0.4s;
}

.header .nav-links .project {
    display: none;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: #000;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #FFFFFF;
}

.header .btn button {
    font-weight: 700;
    color: #000;
    padding: 9px 25px;
    background: #FFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4 ease 0ms;
}

.header .btn button:hover {
    background: #f0efef;
}


.header .in-up {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 20px;
}


.header .in-up .btn,
.create {
    flex: 1;
    margin: 8px 0;
    transition: all 0.4s ease 0s;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.header .in-up .userName {
    display: none
}

.header .create {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.header .in-up .create:hover {
    transform: scale(1.1);
}

.header .in-up li a:hover {
    color: #FFFFFF;
}

.header .in-up .userName {
    font-size: 40px;
    color: #000;
    text-decoration: none;
    border-radius: 8px;
    padding-top: 4px;
}

.nav-footer {
    color: #999;
    background-color: #FFF;
    font-weight: 400;
    line-height: 1;
    overflow: hidden;
    border-top: 1px solid #b3b0ae;
    margin-bottom: 15px;
}

.nav-footer .nav-footer-navigation {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-footer .nav-footer-navigation li {
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

.nav-footer .nav-footer-navigation li a {
    text-decoration: none;
    color: #000;
}

.nav-footer .nav-footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatisCRM {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.whatisCRM article {
    margin-bottom: 5%;
}

.whatisCRM h2 {
    font-size: 50px;
    font-weight: 700;
    color: black
}

.whatisCRM .try .group {
    margin-left: 35%;
    margin-right: 35%;
    border-bottom: 1px solid #b3b0ae;
}

.whatisCRM .try .group img {
    width: 500px;
    height: 400px;
}

.whatisCRM .try .btnTry button {
    margin-top: 20px;
    font-weight: 700;
    color: #000;
    padding: 9px 25px;
    background: #c2b5aa;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.whatisCRM .try .btnTry button:hover {
    background-color: #b8a99e;
}

.whatisCRM figure figcaption a {
    font-weight: 400;
    color: #999;
    font-size: 20px;
    text-decoration: none;
}

.whatisCRM .group img {
    width: 500px;
    height: 400px;
}

.whatisCRM .explainCRM {
    padding-left: 20%;
    padding-right: 20%;
}

.whatisCRM .stadistics {
    border-bottom: 1px solid #b3b0ae;
    margin-left: 10%;
}

.whatisCRM .whatdoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}

.whatisCRM .whatdoes h2 {
    display: flex;
}

.whatisCRM .whatdoes p {
    text-align: left;
    direction: ltr;
}

.rootSection .aboutUs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}

.rootSection .aboutUs h2 {
    display: flex;
    font-size: 50px;
    font-weight: 700;
    color: black
}

.rootSection .aboutUs p {
    text-align: left;
    direction: ltr;
}

.rootSection .aboutUs .company {
    border-bottom: 1px solid #b3b0ae;
    margin-left: 10%;
}

.rootSection .aboutUs figure img {
    width: 500px;
    height: 400px;
}

.modal {
    display: none;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal .modal-content .modal-form {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10%;
    padding-top: 0%;
}

.close {
    position: relative;
    right: 10px;
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}